
@font-face
    font-family: GTAmerica Light
    font-style: normal
    font-weight: 300
    font-display: swap
    src url(/fonts/gt-america-light.woff2)
@font-face
    font-family: GTAmerica
    font-style: normal
    font-weight: 500
    font-display: swap
    src url(/fonts/gt-america-medium.woff2)
@font-face
    font-family: GTAmerica
    font-style: bold
    font-weight: 700
    font-display: swap
    src url(/fonts/gt-america-bold.woff2)

@font-face
    font-family: Sentinel Light
    font-style: normal
    font-weight: 300
    font-display: swap
    src url(/fonts/sentinel-light.woff2)
@font-face
    font-family: Sentinel
    font-style: normal;
    font-weight: 400
    font-display: swap
    src url(/fonts/sentinel-book.woff2)
@font-face
    font-family: Sentinel
    font-style: italic
    font-weight: 400
    font-display: swap
    src url(/fonts/sentinel-bookitalic.woff2)


//         'sentinel': {
//             '300': [],
//             '500': []
//         },
//         'gt-america': {
//             '300': [],
//             '700': []
//         }
// gt-america-bold.woff2
// gt-america-light-italic.woff2
//
// gt-america-medium.woff2
// gt-america-regular-italic.woff2
// gt-america-regular.woff2
// sentinel-book.woff2
// sentinel-bookitalic.woff2
// sentinel-medium.woff2
