// -------------------------------------------------
// intro /top
// -------------------------------------------------

@import '../../styles/core'

// .intro
//     font-family: $font-serif
//     max-width: $screen-md
//     text-align: center
//     color: $blue-dark
.book
    width: 300px
    width: calc(240px + 7vw)
    margin-bottom: 1rem
.title
    font-size: 2.5rem
    font-family: $font-serif
    font-weight: $font-weight-light
    color: $red-dark
    letter-spacing: normal
    line-height: 1
    margin-bottom: 0.4rem

.subhead
    font-size: 1.2rem
    font-family: $font-sans
    text-transform: uppercase
    letter-spacing: 0.2em
    margin-bottom: 0.4rem

.p
    margin-bottom: 0.3rem