// -------------------------------------------------
// intro /top
// -------------------------------------------------

@import '../../styles/core'

.title
    font-family: $font-serif
    font-size: 1.8rem
    text-align: center
    color: $red-dark
    margin: 0 0 1rem 0
