// -------------------------------------------------
// intro /top
// -------------------------------------------------

@import '../../styles/core'

.form
    padding: 1rem
    background-color: white

// input
//     border: none
//
// .wrapper
//     font-family: $font-sans
//     .hs-form
//         fieldset
//             .form-columns-1, .form-columns-2
//                 border: none
//         ul
//             list-style-type: none
//             margin-left: 0
//             padding-left: 0

// .wrapper .hs-form input[type=date],
// .wrapper .hs-form input[type=datetime],
// .wrapper .hs-form input[type=datetime-local],
// .wrapper .hs-form input[type=email],
// .wrapper .hs-form input[type=month],
// .wrapper .hs-form input[type=number],
// .wrapper .hs-form input[type=password],
// .wrapper .hs-form input[type=range],
// .wrapper .hs-form input[type=search],
// .wrapper .hs-form input[type=tel],
// .wrapper .hs-form input[type=text],
// .wrapper .hs-form input[type=time],
// .wrapper .hs-form input[type=url],
// .wrapper .hs-form input[type=week],
// .wrapper .hs-form fieldset.form-columns-1 textarea.hs-input,
// .wrapper .hs-form fieldset.form-columns-1 .input select,
// .wrapper .hs-form .input textarea,
// .wrapper .hs-form .hs-input textarea,
// .wrapper .hs-form textarea,
// .wrapper .hs-form .input select,
// .wrapper .hs-form .hs-input select,
// .wrapper .hs-form select
//     background-color: red
//     border: none
