@import 'core/variables'
@import 'core/fonts'

button(pad = 0.8rem 1.2rem)
    display: inline-block
    border: none
    background: $teal-dark
    color: white
    cursor: pointer
    outline: none
    border-radius: 50px
    font-weight: 500
    font-family: $font-sans
    font-size: 92%
    padding: pad
    letter-spacing: 0.03em
    transition: background-color $speed linear
    -webkit-appearance: none
    box-sizing: border-box
    -webkit-box-sizing: border-box
    &:hover
        background-color: $teal-darker

grid-square(squares = 2)
    grid-column-end: span squares
    grid-row-end:    span squares

auto-margin()
    margin-right: auto
    margin-left: auto
// .flex-item:nth-child(2)
//     order: 0;
//     flex: 0 1 auto;
//     align-self: auto;
//    