@import 'core'

input
    border: none

.wrapper
    font-family: $font-sans
    .hs-form
        fieldset
            border: none
            .form-columns-1, .form-columns-2
                
        ul
            list-style-type: none
            margin-left: 0
            padding-left: 0
