// -------------------------------------------------
// intro /top
// -------------------------------------------------

@import '../../styles/core';

.intro
    font-family: $font-serif
    max-width: $screen-md
    text-align: center
    color: $blue-dark

.title
    font-size: 4rem
    color: $red

.lead
    font-size: 1.5rem
    font-family: $font-sans

.authors
    font-size: 2rem
    font-style: italic
