- var css = require('./intro-css.json');

section(class=css.intro)
    img.lozad(alt="Complete Compliance Book", data-src="https://images.ctfassets.net/frc0x3twtm4f/4NsK3lp2NGGCYCm0uC0i0S/e1b7ade9c1344896efeb6db3cf6056d1/compliance_book__3d_front_and_back_mockup.png?w=300")
    h1(class=css.title) Complete Cloud Compliance
    article
        p(class=css.lead) How regulated companies de-risk the cloud and kickstart transformation
        p(class=css.authors) By Travis Good, MD &amp; Kris Gosser
