- var css = require('./intro-css.json');

section(class=css.intro)
  h1(class=css.title) Complete Cloud Compliance
  article
    p(class=css.lead) How regulated companies de-risk the cloud and kickstart transformation
    p(class=css.authors) By Travis Good, MD &amp; Kris Gosser
