// -------------------------------------------------
// intro /top
// -------------------------------------------------

@import '../../styles/core'

.intro
    font-family: $font-serif
    max-width: $screen-md
    text-align: center
    color: $blue-dark

.title
    font-size: 3.7rem
    color: $red
    letter-spacing: normal
    line-height: 1
    margin-bottom: 1.8rem

.lead
    font-size: 1.5rem
    font-family: $font-sans

.authors
    font-size: 2rem
    font-style: italic

// .gridbox
//     @supports (display: grid)
//         display: grid
//         height: 100%
//         grid-template-columns: minmax(200px, 500px) 1fr
//         grid-template-rows: 1fr
//         grid-gap: calc(1rem + 2vw)
//         // grid-template-areas: "area-title area-preview"

// .area-title
//     @supports (display: grid)
//         grid-area: area-title
// .area-preview
//     @supports (display: grid)
//         grid-area: area-preview
