// -------------------------------------------------
// intro /top
// -------------------------------------------------

@import '../../styles/core';

.intro
    font-family: Sentinel
    max-width: $screen-sm
    text-align: center
    color: $blue-dark

.title
    font-size: 4rem
    color: $red

.lead
    font-size: 3rem

.authors
    font-size: 2rem
    font-style: italic
