@import 'styles/core';

:global
    html
        font-family: $font-sans
        font-size: 16px

    .headline-1, .headline-2, .headline-3
        font-weight: bold

    .box
        padding: 2rem
        padding: calc(2rem + 5vw)
    .box-white
        background-color: white
        color: $black

    .box-dark
        background-color: $gray-darker
        color: white

    .box-navy
        background-color: $blue-dark
        color: white
