@import 'styles/core'

:global
    @import 'styles/hsforms'
    @import 'styles/core/grid'
    html
        font-family: $font-serif
        font-size: 16px
        font-size: calc(102% + 0.2vw)
    body
        padding: 0
        margin: 0
        line-height: 1.3
    p, li
        margin-top: 0
        margin-bottom: 1.5rem
        line-height: 1.6
        letter-spacing: 0.03em
    a
        color: $blue
        text-decoration: none
        transition: border-bottom $speed opacity, color $speed opacity
        border-bottom: 1px solid transparent
        &:hover
            border-bottom: 1px solid $blue
    .content
        max-width: $screen-sm - 2rem
        margin-left: auto
        margin-right: auto
    h1, h2, h3, h4, h5, h6
        margin: 0
    .headline-1, .headline-2, .headline-3, .headline-4
        font-weight: bold
        color: $blue-dark
        font-family: $font-sans
        margin-bottom: 0.5em
    .headline-1
        font-size: 3.5rem
    .headline-2
        font-size: 2rem
    .headline-3
        font-size: 1.8rem
    .headline-4
        font-size: 1rem
    // lists
    ol.big-numbers
        list-style: none;
        counter-reset: counter-bignum
        li
            counter-increment: counter-bignum
            margin: 0 0 1rem 0
            position: relative
        li::before
            content: counter(counter-bignum)
            color: white
            font-size: 1.5rem
            font-weight: bold
            position: absolute
            $size = 32px
            left: calc(-1 * 32px - 10px)
            line-height: $size
            width:  $size
            height: $size
            top: 0
            // transform: rotate(-10deg)
            background: $teal-dark
            border-radius: 50%
            text-align: center
            // box-shadow: 1px 1px 0 #999

    .group
        margin-bottom: 2rem
    .box
        padding: 2rem
        padding: calc(0.5rem + 5vw)
    .box-white
        background-color: white
        color: $black
    .box-light
        background-color: $gray-lighter
        color: $black
    .box-gray
        background-color: $gray-light
        color: $black
    .box-teal
        background-color: $teal-light
        color: $black
    .box-dark
        background-color: $gray-dark
        color: white
    .box-navy
        background-color: $blue-dark
        color: white
    .box-dark, .box-navy
        .headline-1, .headline-2, .headline-3, .headline-4
            color: $teal-light
        p
            font-family: "Sentinel Light", serif
        a
            color: $teal-light
            &:hover
                border-bottom: 1px solid $teal-light
    .img-fit
        object-fit: cover
    .grad-light-radial
        background: radial-gradient(ellipse at center, hsla(0,0%,100%,1) 47%,hsla(24,16%,92%,1) 100%);
    .border-red
        border-color: $red
        border-style: solid;
    .border-top-8
        border-width: 8px 0 0 0;
    .border-bottom-8
        border-width: 0 0 8px 0;
    .drop
        box-shadow: 2px 2px 13px alpha($blue-dark, 0.3)
    .button
        button(1rem)
    a.button
        text-decoration: none

    .float-right
        float: right
        margin-left: 1.5rem
    .person
        a
            &:hover
                text-decoration: none
                border-bottom: none
    .avatar
        border-radius: 50%
    .size
        &-md
          width:  $space-xlg
          height: $space-xlg

    // === utilities (that override the above)
    .font-sans
        font-family: $font-sans
        font-weight: normal
    .font-serif
        font-family: $font-serif
        .font-light, &.font-light
            font-family: "Sentinel Light", serif
    .font-light
        font-weight: 300
    .font-bold
        font-weight: bold
    .text-center
        text-align: center
