extends layout.pug

block content
    section#intro.box
        .content
            include components/intro/intro.pug
            //- +hsForm('formTop')
    section#description.box.box-navy.border-red.border-bottom-8
        .content
            h2.headline-2 Regulated companies have a hard problem to solve.
            .font-serif.text-light
                p They run the risk of becoming obsolete due to an inability to adopt new technology fast enough. Incumbent business models will be out-flanked by shifting customer expectations brought on by improved digital experiences. Market conditions are out of their control. Even healthcare, the most regulated industry with the heartiest entrenchment and uniquely perverse economic incentives, is remarkably close to complete upheaval due to a litany of world-changing ideas, like mobile devices, Internet of Things, big data, and artificial intelligence. It all stems from the mother of all recent innovations, the cloud. The root challenge is the adoption of cloud computing in order to remain relevant. If achieved, compliant cloud computing becomes an organizational differentiator.
                
                p Compliance contributes to this existential threat because it prompts the cloud to be viewed as a liable cost center by most regulated companies. But that’s wrong. It’s actually a leverageable asset that is at the foundation of modern business transformation. 
                
                p Complete Cloud Compliance is a program developed after years of managing high-stakes compliance requirements across mission critical healthcare workloads. It is a chance to control destiny. The program is written for healthcare organizations, but all while under the principle that best practices are best practices, meaning the insights shared can be applied across global regimes and any industry.
    section#ideas.box
        .content
            h2.headline-2 The 9 Big Ideas
            ol.big-numbers
                li When controlled, compliance is actually a competitive edge.
                li The cloud is no longer other people's computers. It is managed services.
                li As cloud services get more abstract to improve developer experience (a good thing), more control is being taken away from the user making compliance attestation harder (a bad thing).
                li Compliance is only as strong as the weakest link in the abstraction chain.
                li Frameworks are the best way to manage regulations. The best frameworks are built for a dynamic future, not a dated past.
                li Complete cloud compliance is hard because technologists struggle to understand compliance while compliance officers struggle to understand the cloud.
                li The cloud is global, so compliance is now global.
                li Cloud compliance comes down to data management. The three verbs of data are store, compute, and transmit.
                li Data sources are splintering instead of unifying, making compliance more complex.
    //- section#visuals.box.box-light
        .content
            h2.headline-3 Visual storytelling
            p Complete Cloud Compliance focuses on distilling complex topics into easy-to-understand stories. The book makes heavy use of illustrations, charts, and graphs wherever possible.
    section#chapters.box
        .content
            ol.chapter-list
                li
                    span.headline-4 The Business Case for Compliance
                    p The most regulated industries are often the most important to society, but they are also the farthest behind on absorbing new technology. The cloud is a critical requirement for regulated companies to avoid disruption. Compliance blocks cloud adoption, but it doesn't have to be that way. If organizations change their approach to compliance, they can unlock the cloud and turn what used to be a liability into a true differentiating asset.
                li
                    span.headline-4 What <em>Really</em> is Compliance?
                    p Most technologists have little experience with compliance. This chapter goes deep on compliance in a way developers can understand.
                li
                    span.headline-4 What <em>Really</em> is the Cloud?
                    p Most compliance officers have a hard time keeping up with the fast-paced, dynamic nature of the cloud. The shifting landscape of abstraction only makes it harder. This chapter goes deep on the cloud in a way that business-minded compliance owners can understand.
                li
                    span.headline-4 Why Data Interoperability Matters
                    p Cloud compliance is about managing security and privacy of data. Fundamental to modern business models is integration of disparate datasets, which subsequently increases compliance complexity for regulated companies.
                li
                    span.headline-4 Complete Cloud Compliance
                    p The meat of the book is a 3C program designed for any regulated company looking to control compliance on the cloud with an eye on the future. The program explains the overlay of compliance and cloud abstraction, then gives a rubric for creating your own program.
                li
                    span.headline-4 Best Practices for Complete Cloud Compliance
                    p A successful 3C program employs modern best practices. This chapter gives 16 expert tips learned from years worth of managing compliance for high-stakes workloads on the cloud.
                li
                    span.headline-4 The Achievable Mandate
                    p Adopting the cloud isn't something you <em>should</em> do—it's something you <em>must</em> do. Compliance isn't something you ought to do, but the right thing to do. Combining them is a mandate, but the good news is it's entirely possible to achieve.
    section#cta.box.box-teal
        .content
            include components/form/form.pug
    section#authors.box.box-dark
        .content
            h2.headline-3 About the Authors
            h3.headline-4 Travis Good, MD
            p.text-light With a passion for healthcare and an eye towards market changing transformation, Travis blends his varied experience across medicine, cloud, and cybersecurity to develop impactful strategic initiatives. He has written extensively on healthcare technology and digital innovation and spoken at events like HIMSS, SXSW, AMIA, AHIMA, MedX, Health 2.0, and HITRUST Summit. As the co-Founder and CEO of Datica, he created the strategy and go-to-market vision for products now helping enable innovation on the cloud at hundreds of healthcare organizations. Travis grew up in Florida before bouncing around for college and graduate school, eventually settling in Colorado with his family.
            h3.headline-4 Kris Gosser
            p.text-light Kris likes to sit at the intersection of design, business, and technology to craft empathetic products for markets in need. He has been a Lean Startup practitioner across his twelve-year career as an entrepreneur spanning leadership roles in engineering, design, product, marketing, sales, and management. As the CMO of Datica, he interfaces with the healthcare industry to understand the challenges faced while guiding Datica's revenue machine towards growth targets. He helped write this book because he viewed a deeper understanding around the topic of cloud compliance as an essential ingredient to an improved society—the most regulated industries are often the most important to communities. A Wisconsin native, Kris and his family live in Seattle where they now call home.
